.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.leftbig {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-weight: bold;
  font-size: 1.2rem;
  color: #3692ff;
}

.menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: 2rem;
}

.active {
  font-weight: bold;
  color: #3692ff;
  font-size: 1.25rem;
}

/* .button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.loginBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3692ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
