/* components/Article/ArticleForm.module.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input,
.textarea {
  padding: 0.75rem;
  background-color: #f3f4f6;
  border: none;
  border-radius: 8px;
  resize: none;
}

.label .textarea {
  height: 200px;
}

.submitButton {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #3692ff;
  color: white;
  border: none;
  border-radius: 6px;
}
