.productPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productContainer {
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
}
@media (min-width: 345px) {
  .productContainer {
    padding: 16px;
    gap: 24px;
  }
}

@media (min-width: 744px) {
  .productContainer {
    padding: 24px;
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .productContainer {
    min-width: 1200px;

    padding: 26px 10vw 140px 10vw;
    gap: 40px;
  }
}
