.entire {
  display: flex;
  width: 1920px;
  justify-content: center;
  align-items: center;
  padding: 231px 640px 284px 640px;
  background-color: #FCFCFC

}

.container {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.logo_pandamarket {
  width: 396px;
  height: 132px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.text {
  color: #1F2937;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  margin: 0;
}

.text-input {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: #F3F4F6;
  border: none;
  outline: none;
  color: var(--Cool-Gray-800, #1F2937);
  flex: 1 0 0;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.text-input:focus {
  border: 1px solid #3692FF;
  color:  #1F2937;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.pswd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  width: 640px;
  height: 56px;
  background-color: transparent;
  padding: 0;
  position: relative;
  border-radius: 12px;
  gap: 10px;
  flex-direction: column;
}

.btn-visibility {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 13px;
}

.login {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);
  cursor: pointer;
  border: 0;
}

.signup {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);
  cursor: pointer;
  border: 0;
}

.login-text {
  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.signup-text {
  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.easylogin {
  display: flex;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background-color: #e3f2ff
}

.inner {
  display: flex;
  width: 594px;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.e-l-text {
  color: #1F2937;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.google-kakao {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-items: center;
}

.text-to-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.text-to-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.first-login-text {
  color: var(--Secondary-800, #1F2937);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.signup-link {
  color: var(--Primary-100, #3692FF);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.login-link {
  color: var(--Primary-100, #3692FF);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.text-input.error {
  border: 1px solid red !important;
}

.error-message {
  padding-left: 16px;
  color: var(--error-red, #F74747);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 비활성 상태 */
#loginButton {
  background-color: #9CA3AF;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 16px;
  font-size: 16px;
}

/* 로그인 버튼 활성화 상태 */
#loginButton:enabled {
  background-color: #3692FF;
  cursor: pointer;
}

/* 회원가입 버튼 활성화 */
#signupButton:enabled {
  background-color: #3692FF;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.70);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 250px;
  flex-shrink: 0;
  background: white;
  border-radius: 12px;
  padding: 20px;
}

#modalMessage {
  color: var(--Cool-Gray-800, #1F2937);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

#modalConfirmButton {
  display: flex;
  width: 120px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--brand-blue, #3692FF);
  color: white;
  border: none;
  cursor: pointer;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#signupModalMessage {
  color: var(--Cool-Gray-800, #1F2937);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

#signupModalConfirmButton {
  display: flex;
  width: 120px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--brand-blue, #3692FF);
  color: white;
  border: none;
  cursor: pointer;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.form-container {
  width: calc(100% - 32px);
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 744px) {
  .container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
}
