* {
  box-sizing: border-box;
}

.entire {
  min-width: 1110px;
}

.title {
  color: #3692ff;
  font-size: 25.633px;
  font-weight: 700;
  font-family: "ROKAF Sans";
  font-style: normal;
  line-height: normal;
}

.login {
  text-decoration: none;
  background-color: #3692ff;
  color: #fff;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 200px;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 70px;
}

.pandahome-top {
  width: 100%;
  height: 610px;
  flex-shrink: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color:#CFE5FF
}

.rect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 7px;
}

.life-btn {
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin: 40px 0px;
}

.panda {
  display: flex;
  width: 746px;
  height: 340px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
}

.information-btn {
  text-decoration: none;
  color: #fff;
  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background:#3692FF;
  font-family: Pretendard;
}

.life {
  color:#374151;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */

}

.main-top {
  padding: 138px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FFFFFF
}

.top-img-text1 {
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FCFCFC
}

.main-top-text1-1 {
  color: #3692FF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.main-top-text1-2 {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  margin-top: 12px;
}

.main-top-text1-3 {
  color: #374151;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
  margin-top: 24px;
  font-weight: 500;
}

.text1-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.main-middle {
  padding: 138px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FFFFFF
}

.middle-img-text2 {
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FCFCFC
}

.main-middle-text2-1 {
  color: #3692FF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.main-middle-text2-2 {
  color: #374151;
  text-align: right;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  margin-top: 12px;
}

.main-middle-text2-3 {
  color: #374151;
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
  margin-top: 24px;
  font-weight: 500;
}

.text2-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.main-bottom {
  padding: 138px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FFFFFF
}

.bottom-img-text3 {
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FCFCFC
}

.main-bottom-text3-1 {
  color: #3692FF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.main-bottom-text3-2 {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  margin-top: 12px;
}

.main-bottom-text3-3 {
  color: #374151;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
  margin-top: 24px;
  font-weight: 500;
}

.text3-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.blank {
  height: 138px;
  background-color: #FFFFFF
}

.pandahome-bottom {
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 64px;
  background-color:#CFE5FF
}

.text4-area {
  display: flex;
  padding-bottom: 112.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 255.5px;
}

.text4 {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  display: flex;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.final-block {
  display: flex;
  width: 100%;
  height: 160px;
  padding: 32px 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: #111827
}

.final-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 20px;
  width: 100%;
}

.content1 {
  color: #9CA3AF;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.content2-text1 {
  color: #E5E7EB;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content2-text2 {
  color: #E5E7EB;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sns-area {
  display: flex;
  width: 116px;
  align-items: flex-start;
  gap: 12px;
}

