@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.body {
    font-family: 'Pretendard-Regular'
      
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}

/* 여기부터 상단 */
.navigator {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 120px;
    padding: 0px 200px;         
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}
  

.logo {
    display: flex;
    color: #3692FF;
    font-weight: 700;
    align-items: center;
}

/* 여기부터 내용 */
.panda {
    background-color: #CFE5FF;
    display: flex;
    height: 540px;          
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% bottom;  
    background-size: 55%;
    padding: 20px 0px;
}

.takealook {
    display: flex;
    flex-direction: column;
    gap: 160px;      

}

.panda_text {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px; 
    margin: 0;            
}


/*가운데 세 개의 박스*/

.main {   
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5%;               
    padding: 100px 0px;
    justify-content: center;
}


.find {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 138px 0px;
    text-align: left;
    flex: 1;
}

.search {
    width: 100%;
    display: flex;          
    align-items: center;
    gap: 5%;
    padding: 138px 0px;
    text-align: right; 
    flex: 1;
}

.sell {
    width: 100%;
    display: flex;          
    align-items: center;
    gap: 5%;
    padding: 138px 0px;
    text-align: left;
    flex: 1;
}

/* 가운데 세 개에 공통으로 들어갈 텍스트들 */

.mini_title {
    color: #3692FF;
    font-weight: 700;
    font-size: 18px;

}
/*  
.main_text {
    color: #374151;
    font-weight: 700;
    font-size: 40px;

}

.sub_text {
    color: #374151;
    font-weight: 500;
    font-size: 24px;
}
*/


/* 하단 */

.footer {
    display: flex;
    background-color: #111827;
    color: #9ca3af;
    font-size: 16px;        
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px 108px;
}

.footer a {
    text-decoration: none;
    color: #9ca3af;
}

.pnf {
    display: flex;
    align-items: center;
    color: #9ca3af;
    gap: 30px;
}

.sns {
    display: flex;
    gap: 12px;

}


