/* productModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  padding: 1rem;
  z-index: 1001;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swiper {
  width: 100%;
  height: 300px; /* 슬라이더 높이 지정 */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 꽉 채우기 */
}
