.form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 12px;
}

.input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3692ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #147eff;
}
