.button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-200);
  border-radius: 40px;
  background-color: var(--white);
  color: var(--secondary-500);
  font-weight: 600;
  font-size: 16px;
}

.button:disabled {
  cursor: not-allowed;
}

.activePage {
  background-color: var(--primary-100);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
}
