/* Pretendard 폰트 정의 (Bold, SemiBold, Medium, Regular)*/
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard/woff2/Pretendard-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/Pretendard/woff/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard/woff2/Pretendard-SemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/Pretendard/woff/Pretendard-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard/woff2/Pretendard-Medium.woff2")
      format("woff2"),
    url("../assets/fonts/Pretendard/woff/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard/woff2/Pretendard-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/Pretendard/woff/Pretendard-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("../assets/fonts/ROKAFSans/woff2/ROKAFSansBold.woff2")
      format("woff2"),
    url("../assets/fonts/ROKAFSans/woff/ROKAFSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("../assets/fonts/ROKAFSans/woff2/ROKAFSansMedium.woff2")
      format("woff2"),
    url("../assets/fonts/ROKAFSans/woff/ROKAFSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* 색상 변수 지정 */
:root {
  /* Primary 색상 */
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;

  /* Secondary 색상 */
  --white: #ffffff;
  --secondary-50: #f9fafb;
  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #374151;
  --secondary-800: #1f2937;
  --secondary-900: #111827;

  /* error 색상 */
  --error-red: #f74747;
}

/* 클릭 가능한 요소에 마우스 오버 시 커서를 포인터로 변경 */
.clickable:hover {
  cursor: pointer;
}
