.modelBox {
  position: absolute;
  text-align: center;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 16px;
  width: 92px;
}
.model:first-child {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.model:hover {
  background-color: gray;
}
.display {
  display: none;
}
@media screen and (max-width: 46.4375rem) and (min-width: 23.4375rem) {
  .display {
    display: block;
  }
}
