.area {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-bottom: 12px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--Secondary-200);
}

.textBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.textArea {
  width: 80%;
  height: 40px;
  margin-top: 2px;
  padding: 6px 10px;
  background-color: #fcfcfc;
  border: 1px solid var(--Secondary-200);
  resize: none;
  color: var(--Secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.textArea:focus {
  border: 1px solid var(--Primary-100);
  outline: none;
}
.length {
  color: var(--Secondary-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.btnArea {
  display: flex;
  gap: 10px;
}
.cancel {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: var(--Secondary-200);
  color: var(--Secondary-600);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}
.save {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: var(--Primary-100);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}
.text {
  color: var(--Secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.userBox {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.userIc {
  width: 32px;
  height: 32px;
  background-image: url("/ic_user.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nameBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.name {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.date {
  color: var(--Secondary-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.emptyArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.emptyImg {
  width: 140px;
  height: 140px;
  background-image: url("/img_empty.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.emptyItem {
  width: 196px;
  height: 196px;
  background-image: url("/img_inquiry_empty.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.emptyText {
  color: var(--Secondary-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .emptyItem {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .emptyItem {
    width: 140px;
    height: 140px;
  }
}
