.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.13);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: #ffffff;
  border-radius: 12px;
  min-width: 300px;
  padding: 30px 22px 20px 22px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
  text-align: center;
}
.msg {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 22px;
}
.btnArea {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.cancel {
  width: 88px;
  height: 48px;
  background: #ffffff;
  border: 1px solid var(--error-red);
  border-radius: 8px;
  padding: 12px 23px;
  color: var(--error-red);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}
.delete {
  width: 88px;
  height: 48px;
  background: var(--error-red);
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  color: var(--Cool-Gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}
