.heart {
  display: flex;
  flex-direction: row;

  gap: 8px;

  align-items: center;
}

.heartBtn {
  width: 24px;
  height: 24px;
}

.heartCount {
  color: var(--Secondary-500, #6b7280);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
