.likeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid var(--Secondary-200);
  border-radius: 35px;
  padding: 4px 12px;
  margin-left: 32px;
  gap: 4px;
  color: var(--Cool-Gray-500);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}

.likeImg {
  width: 32px;
  height: 32px;
  background-image: url("/ic_like.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s;
}

.likeBox.liked {
  color: #ff68cc;
}
.likeBox.liked .likeImg {
  background-image: url("/ic_heart.svg");
}
