.area {
  width: 100%;
  max-width: 1200px;
  padding-top: 68px;
  margin: 0 auto;
}

.titleBox {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 32px;
}
.title {
  color: var(--Secondary-800);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 42px;
  background-color: var(--Cool-Gray-400);
  border: none;
  border-radius: 8px;
  color: var(--Cool-Gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.btn.active {
  background: var(--Primary-100);
  cursor: pointer;
}

.inputBox {
  display: flex;
  flex-direction: column;
}
.labelArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.label {
  color: var(--Secondary-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.length {
  color: var(--Secondary-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.input {
  width: 100%;
  height: 56px;
  margin-bottom: 24px;
  padding: 16px 24px;
  background-color: var(--Cool-Gray-100);
  border: 1px solid transparent;
  border-radius: 12px;
  transition: border 0.2s;
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.textArea {
  width: 100%;
  height: 282px;
  padding: 16px 24px;
  background-color: var(--Cool-Gray-100);
  border: 1px solid transparent;
  border-radius: 12px;
  transition: border 0.2s;
  resize: none;
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.input:focus,
.input:hover,
.textArea:focus,
.textArea:hover {
  border: 1px solid var(--Primary-100);
  outline: none;
}

.input::placeholder,
.textArea::placeholder {
  color: var(--Secondary-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.input.error,
.textArea.error {
  border: 1px solid var(--error-red);
}

.length.error {
  color: var(--error-red);
}

.errorText {
  color: var(--error-red);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .area {
    max-width: 696px;
  }
  .titleBox {
    margin-top: 16px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .area {
    max-width: 345px;
  }
  .titleBox {
    margin: 16px 0 24px;
  }
  .label {
    font-size: 14px;
  }
  .length {
    font-size: 12px;
  }
  .errorText {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
