.formArea {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding-top: 68px;
}

.titleArea {
  width: 100%;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--Secondary-800);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 42px;
  background-color: var(--Cool-Gray-400);
  border: none;
  border-radius: 8px;
  color: var(--Cool-Gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.btn.active {
  background: var(--Primary-100);
  cursor: pointer;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}
.labelArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.label {
  color: var(--Secondary-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.length {
  color: var(--Secondary-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.input,
.textArea {
  width: 100%;
  height: 56px;
  background-color: var(--Cool-Gray-100);
  border: 1px solid transparent;
  transition: border 0.2s;
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.textArea {
  height: 282px;
  resize: none;
}
.input:hover,
.input:focus,
.textArea:hover,
.textArea:focus {
  border: 1px solid var(--Primary-100);
  outline: none;
}
.input::placeholder,
.textArea::placeholder {
  color: var(--Secondary-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.input.error,
.textArea.error {
  border: 1px solid var(--error-red);
}

.length.error {
  color: var(--error-red);
}

.errorMessage {
  color: var(--error-red);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.inputError,
.inputError:hover,
.inputError:focus {
  border: 1px solid var(--error-red);
  outline: none;
}

.tagBoxArea {
  display: flex;
  margin-top: 12px;
  gap: 12px;
}

.tagBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 36px;
  padding: 6px 12px 6px 16px;
  border: none;
  border-radius: 26px;
  background-color: var(--Cool-Gray-100);
}

.tagDeleteButton {
  width: 22px;
  height: 24px;
  background-image: url("/ic_X.svg");
  border: none;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .formArea {
    max-width: 696px;
  }
  .inputArea {
    gap: 24px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .formArea {
    max-width: 344px;
  }
  .titleBox {
    margin: 16px 0 24px;
  }
  .label {
    font-size: 14px;
  }
  .length {
    font-size: 12px;
  }
  .errorText {
    font-size: 12px;
  }
  .inputArea {
    gap: 20px;
  }
}
