.Container {
  display: flex;
  width: 128px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary-100, #3692ff);
}

.Text {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.LoginImg {
  display: flex;
  gap: 4px;
  position: relative;
}

.LoginImgText {
  color: black;
}

.LogOutContainer {
  position: absolute;
  display: flex;
  border: 1px solid #dfdfdf;
  align-items: center;
  justify-content: center;
  top: 50px;
  right: 0;
}
