.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: var(--secondary-800);
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 700;
}

.input {
  padding: 16px 24px;
  background-color: var(--secondary-100);
  border-radius: 12px;
}

.inputError {
  border-color: var(--error-red);
}

.error {
  color: var(--error-red);
  font-family: "Pretendard";
  font-size: 15px;
  font-weight: 600;
}
