.Container {
  display: flex;
  background: #e6f2ff;
  justify-content: space-between;
  width: 640px;
  padding: 5px;
}

.Container > div > img {
  width: 50px;
  cursor: pointer;
}

.Box {
  display: flex;
  gap: 10px;
}
