.article {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 293px;
}

.articleBox {
  display: flex;
  width: 1200px;

  flex-direction: column;
  gap: 40px;
}
