.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.navBox {
  display: flex;
}

.boardBox {
  display: flex;
}

.boardItemBox {
  display: flex;
}
