.area {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 24px 0 40px;
  border-bottom: 1px solid var(--Cool-Gray-200);
}

.imgArea {
  position: relative;
  width: 486px;
  height: 496px;
  border-radius: 10px;
  overflow: hidden;
}

.box {
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--Cool-Gray-200);
}

.titleLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--Secondary-800);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.price {
  color: var(--Secondary-800);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inforBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.subTitle {
  color: var(--Secondary-600);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 16px;
}

.desc {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.tagBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagArea {
  width: 100%;
  min-height: 36px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.tag {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 6px 16px;
  border: none;
  border-radius: 26px;
  background-color: var(--Cool-Gray-100);
}

.userInfor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  border-right: 1px solid var(--Cool-Gray-200);
}

.userIc {
  width: 40px;
  height: 40px;
  background-image: url("/ic_user.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.userText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userName {
  color: var(--Secondary-600);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.date {
  color: var(--Cool-Gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 48px;
  margin: 64px auto 40px;
  padding: 12px 0;
  background-color: var(--Primary-100);
  border: none;
  border-radius: 40px;
  color: var(--Cool-Gray-100);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
  text-decoration: none;
}

.img {
  width: 19px;
  height: 16px;
  background-image: url("/ic_return.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}
@media (min-width: 744px) and (max-width: 1199px) {
  .area {
    max-width: 696px;
  }
  .imgArea {
    width: 344px;
    height: 360px;
  }
  .box {
    width: 340px;
  }
  .titleBox {
    gap: 8px;
  }
  .title {
    font-size: 20px;
  }
  .price {
    font-size: 32px;
  }
  .subTitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .btn {
    margin: 56px auto 40px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .area {
    max-width: 344px;
  }
  .mainBox {
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
  }
  .imgArea {
    width: 344px;
    height: 360px;
  }
  .box {
    width: 100%;
  }
  .title {
    font-size: 16px;
    line-height: 26px;
  }
  .price {
    font-size: 24px;
  }
  .subTitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .btn {
    margin: 40px auto 40px;
  }
}
