.container {
  display: flex;
  justify-content: space-between;
}

.fontStyle {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.button {
  color: var(--Cool-Gray-100, #f3f4f6);

  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  border-radius: 8px;
  background: var(--Cool-Gray-400, #9ca3af);
  border: 0px;
}
