.Container {
  display: flex;
  justify-content: space-between;
  padding: 4px 100px;
}

.LogoContainer {
  display: flex;
  gap: 10px;
}

.TextLogo {
  width: 100px;
  height: auto;
}

.NavOption {
  display: flex;
  gap: 20px;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
