.Container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.LogoContainer {
  display: flex;
  gap: 10px;
}

.TextLogo {
  width: 100px;
  height: auto;
}

.NavOption {
  display: flex;
  gap: 20px;
}
